#navbar{
flex-direction: column;
padding: 0px 5px;
}
.services .service{
    display: flex;
flex-direction: column;
}


#heading{
    font-size: 25px;
}
#client{
overflow: hidden;
}





